body, html
{
	background-color:#EEEEEE !important;
	color:black;
}
nav {
	background-color: teal;
	color: #888;
  display: block;
  overflow: hidden;
  width: 100%; 
  top:0;
  position:fixed;
  left:0;
}
nav p{
	margin: 0;
	padding: 5px 22px;
	float:left;
	color:white;
	text-decoration: none;
	display:inline-block;
	line-height: 50px;
}
nav ul {
	margin: 0;
	padding: 0;
	float:right;
}

	nav ul li {
		display: inline-block;
		list-style-type: none;
		
		-webkit-transition: all 0.2s;
		-moz-transition: all 0.2s;
		-ms-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s; 
	}
	
		nav > ul > li > a {
			color: white;
			display: block;
			line-height: 50px;
			padding: 5px 22px;
			text-decoration: none;
		}
.container1{
	margin-top:180px;
	text-decoration: none;
	background-color:white;
	width:50%;
	color:black;
	text-align:left;
	padding:5px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
.section{
	text-decoration: none;
	width:80%;
	color:black;
	background-color: white;
	font-size:16px;
	text-align:left;
	padding:5px;
}
.title{
	text-decoration: none;
	width:60%;
	font-size:24px;
	color:black;
	background-color:white;
	text-align:left;
	padding:5px;
	
}

input {
  width: 375px;
  display: block;
  border: 1px solid #999;
  height: 25px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
a{
	text-align:center;
	text-decoration:none;
	font-size:20px;
	color:#80CBC4;
}

.footer {
  margin-top:30px;
  right: 0;
  bottom: 0;
  left: 0;
  padding:5px;
  background-color:#B2DFDB;
  text-align: center;
}
